 .login {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: rgb(5, 119, 14);
     font-size: larger;
     margin-top: 50px;
 }

.form-div{
width: 500px;
border: 1px solid rgb(11, 45, 236);
border-radius: 5px;
padding: 20px;
margin: 0 auto;
margin-bottom: 40px; 
margin-top: 40px;
}


.googleSignIn{
    margin: 0 auto;
    width: 500px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    
}

.googleSignIn img{
    height: 80px;
    margin-right: 5px;
}